<button class="aside" id="botaoTurmas">Turmas</button>
<button class="aside" id="botaoComponentes"disabled>Componentes</button>
<button class="aside" id="botaoMontarGrade" disabled>Montar Grade</button>
<button class="aside" disabled id="botaoExportar">Exportar</button>
