.info_componente {
    width: 150px;
    min-height: 200px;
    padding: 10px;

    border-radius: 2px;
    border: 1px solid gray;
    box-shadow: 1px 1px gray;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info_componente * {
    margin-top: 5px;
    width: 130px;
}

.ferramentas_gerais {
    width: auto;
    border: 1px solid rgba(109, 109, 109, 0.575);
    border-radius: 1px;
    padding: 2px;

    margin: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    

    background-color: rgba(153, 153, 153, 0.774);
}

.ferramentas_gerais * {
    height: 22px;
    width: 85px;
    font-size: 0.7em;
}

.ferramentas_edicao {
    width: 90%;
    height: 90%;
    margin: 15px auto;
    padding: 20px 10px;
    box-sizing: border-box;

    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
    border: 1px solid black;
}