table {
    padding: 4px;
    background-color: rgba(94, 130, 172, 0.658);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button {
    width: 180px;
}