<div class="container">


<div class="ferramentas_gerais">
    <input type="number" name="quantidadeMaximaAulasDia" placeholder="N°Max aulas dia">
    <button id="addTurma" onclick="addTurma()">+ Turma</button>
    <button id="addTurma" onclick="addTurma()">+ Componente</button>
    <input type="submit">
</div>


<div class="ferramentas_edicao">
    <form action="/submit-form" method="POST">
        <div class="info_componente">
            <input type="text" name="nomeComponente" placeholder="Componente Curricular/Matéria" required>
        </div>
    </form>
</div>
</div>
