<div class=container>
<form action="/submit-form" method="POST">
    <div>
        <input type="number" name="quantidadeMaximaAulasDia" placeholder="quantidadeMaximaAulasDia">
    </div>
    <div>
        <input type="text" name="nomeComponente" placeholder="Componente Curricular/Matéria" required>
    </div>
    <input type="submit">
</form>
<button id="addTurma" onclick="addTurma()">Adicionar Turma para o Componente</button>
<button>possibilidade</button>
</div>


<script>
    var addIndexComponente = (function() {
            var indexComponente = 0; 
            return () => indexComponente++;
    })();

    function addTurma() {
        let formulario = document.querySelector('form');
        let div = document.createElement('DIV');
        let index = addIndexComponente();

        div.innerHTML = 

        `<div class="DivParaComponente">
        <input type='text' name="nomeTurma" required placeholder="Por exemplo 3A">
        <input type="number" name="quantidadeAulasTurma" placeholder="Qnt aulas turma" required>
        </div>`

        formulario.appendChild(div);
    }
</script>