Middle

<form action="/submit-form" method="POST">
    <div>
        <input type="text" name="nomeComponente" placeholder="materia">
    </div>
    <div>
        <input type="number" name="quantidadeMaximaAulasDia" placeholder="quantidadeMaximaAulasDia">
    </div>

    <input type="submit">
</form>
<button>possibilidade</button>
<button id="addComponente" onclick="addComponente()">Adicionar Componente</button>



<script>
    var addIndexComponente = (function() {
            var indexComponente = 0; 
            return () => indexComponente++;
    })();

    function addComponente() {
        let formulario = document.querySelector('form');
        let div = document.createElement('DIV');
        let index = addIndexComponente();

            div.innerHTML = 

            `<div class="DivParaComponente">
            <input type='text' name="nomeTurma" required placeholder="Por exemplo 3A">
            <input type="number" name="quantidadeAulasTurma" placeholder="Qnt aulas turma" required>
            </div>`

        formulario.appendChild(div);
    }
</script>