Middle

<form action="/submit-form" method="POST">
    <div class="divInput">
        <input type="text" name="materia">
    </div>
    <div class="divInput">
        <input type="number" name="aulasSemanais">
    </div>
    <div class="divInput">
        <input type="time" name="iniSeg">
        <input type="time" name="fimSeg">
    </div>
    <div class="divInput">
        <input type="time" name="iniTer">
        <input type="time" name="fimTer">
    </div>
    <div class="divInput">
        <input type="time" name="iniQua">
        <input type="time" name="fimQua">
    </div>
    <div class="divInput">
        <input type="time" name="iniQui">
        <input type="time" name="fimQui">
    </div>
    <div class="divInput">
        <input type="time" name="iniSex">
        <input type="time" name="fimSex">
    </div>
    <input type="submit">
</form>