<div class="container">
<div class="ferramentas_edicao">

    <form action="/submit-form" method="POST">
        <div clas='info_geral'>
            <input type="number" name="quantidadeMaximaAulasDia" placeholder="quantidadeMaximaAulasDia">
        </div>
        <div class="info_componente">
            <input type="text" name="nomeComponente" placeholder="Componente Curricular/Matéria" required>
            <button id="addTurma" onclick="addTurma()">Adicionar Turma</button>
        </div>
        <input type="submit">
    </form>
    
</div>
</div>

<style>

</style>