header {
    height: 10vh;
    border: 1px solid rgb(83, 124, 126);
    background-color: cadetblue;
}

h1 {
    margin-top: 5px;
    margin-left: 10px;

    color: rgb(22, 22, 22);
    text-shadow: 1px 1px gray;
}