<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>
    <aside>
        <%- include('../partials/aside') %>
    </aside>

    
    <main>
        <div class="primeiraLinha">
        </div>
        <div class="segundaLinha">
            <div class="lousa">
                <h2>Turmas</h2>
                <h4>Insira as turmas cuja a grade deseja montar.</h4>
                <div style="width: 70%; display: flex; justify-content: space-between;">
                    <button id="botaoEsquerdo" style="display: none; width:fit-content;"></button>
                    <button id="botaoDireito" style="display: none; width:fit-content;"></button>
                    <button class="main" id="botaoProximo">Próximo</button>
                </div>

                <div id="io">

                    <input type="text" id="turmas" placeholder=" ex: 1A, 1B, 2A, 3B, F" required>

                </div>
            </div>
        </div>
    </main>


</body>
</html>